<!DOCTYPE html>
<html ng-app='buttonApp'>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js></script>
    <link rel='stylesheet' type='text/css' href="./main.css">
  </head>
  <body ng-controller="buttonController as btnCtl">
          <div>
                <button id='button' ng-click="btnCtl.reveal()">Click Here!</button>
          </div>
          <div id="popup" ng-show="btnCtl.clicked">
              <h3>YOU ARE LOOKING AT THE POPUP</h3>
                <button ng-show="btnCtl.clicked" ng-click="btnCtl.hide()">close</button>
          </div>
  <script src="main.js"></script>
  </body>
</html>
